<qk-errors #toastmsg type="toast" text="No Data Found"></qk-errors>
<div class="mt-5 container-fluid">
    <form #gmrFrm="ngForm" (ngSubmit)="searchMpr()">
        <div><div class="ms-5 help-block with-errors" *ngIf="!client.valid && client.touched">Please select client</div></div>
    <div class="row">
            <div class="col-3">
                <div class="form-group">
                    
                    <div class="ms-5 form-floating" id="clientLabel">
                        <select  #client="ngModel" (change)="changeclient(selectedClient)" style="width:auto;" class="form-select form-select-lg w-75"
                            aria-label=".form-select-lg example" name="clientId" [(ngModel)]="selectedClient" required>
                            <option *ngFor='let item of clients' [ngValue]="item">
                                {{item.Name}}
                            </option>

                        </select>
                        <label for="clientLabel">Select Client</label>

                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <!-- <div class="ms-5 help-block with-errors" *ngIf="!order.valid && order.touched">Please select order</div> -->
                    <div class="ms-5 form-floating" id="orderLabel">
                        <select #order="ngModel" [disabled]="orderDisabled" style="width:auto;" class="form-select form-select-lg w-75"
                            aria-label=".form-select-lg example" name="orderid" [(ngModel)]="selectedorder" required>
                            <option value=""></option>
                            <option *ngFor='let item of orders' [ngValue]="item">
                                {{item.Name}}
                            </option>

                        </select>
                        <label for="orderLabel">Select Order</label>

                    </div>
                </div>
            </div>
            <div class="d-grid gap-1 col-2">
                <button type="submit" class="btn btn-primary btn-search btn-sm">Search</button>
            </div>
            <div class="d-grid ms-5 col-2" *ngIf="mprs">
                <button type="button" class="btn btn-success btn-sm">Send to Uploader</button>
            </div>
        
    </div>
</form>
</div>

<div *ngIf="mprs" class="mt-5 container-fluid">
    <qk-mprlisttable [gridValues]="mprData"></qk-mprlisttable>
</div>
