<qk-errors #toastmssg type="toast"></qk-errors>
<div>
    <div class="dashboard-container container-fluid">
       
        <div class="">
            <div class="header">
                <div class="row nav-row">
                    <div class="col-1 header-icon-container">
                        <a routerLink="/dashboard">
                            <img class="header-row-img" src="../../../assets/images/quiklogo.png" alt="">
                        </a>
                    </div>
                    <div class="col-3 header-row-logotext">Quik</div>
                    <div class="col-4"></div>
                    <div class="col-4">
                        <div class="row header-right-section">
                            <div class="col-8 dashboard-welcome-text">Welcome, {{loggedUser}}</div>
                            <div class="col-4 dashboard-logout-section">
                                <a routerLink="/login"><i class="bi bi-box-arrow-left glyph logout-glyph"></i></a>
                                <div class="dashboard-logout-text"><a routerLink="/">Logout</a></div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- <div class="row nav-bar navbar-expand-lg">
                <div class="col-2"><a [routerLink]="['conversion']">Admin</a> </div>
                <div class="col-2"><a routerLink="profile">Upload</a></div>
                <div class="col-2"><a routerLink="profile">Execute Conversion</a></div>
                <div class="col-2">Delievery Report</div>
                <div class="col-2">Conversion Status</div>
                <div class="col-2"></div>
            </div> -->
            </div>

        </div>
    </div> 
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" routerLink="/dashboard">Home</a>
                    </li>               
                    <li class="nav-item dropdown" *ngIf='menudata && menudata["conversion"]'>
                        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            {{menudata["conversion"]}}
                        </a>
                        <ul class="dropdown-menu" *ngIf='menudata && menudata["conversion"] && menudata["conversionList"].length > 0'>
                            <span *ngFor='let item of menudata["conversionList"]'>
                               
                                <li class="pt-2">
                                    <a class="dropdown-item" [routerLink]="[item.url]" >{{item.name}}</a>
                                </li>
                              
                            </span>

                        </ul>
                    </li>
                    <li class="nav-item dropdown" *ngIf='menudata && menudata["admin"]'>
                        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Admin
                            <!-- {{menudata["admin"]}} -->
                        </a>
                        <ul class="dropdown-menu" *ngIf='menudata && menudata["admin"] && menudata["adminList"].length > 0'>
                            <span *ngFor='let item of menudata["adminList"]'>
                        
                                <li class="pt-2">
                                    <a class="dropdown-item" [routerLink]="[item.url]" >{{item.name}}</a>
                                </li>
                                
                            </span>
                        </ul>
                    </li>
                    <li class="nav-item dropdown" *ngIf='menudata && menudata["invoicing"]'>
                        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            {{menudata["invoicing"]}}
                        </a>
                        <ul class="dropdown-menu" *ngIf='menudata && menudata["invoicing"] && menudata["invoicingList"].length > 0'>
                            <span *ngFor='let item of menudata["invoicingList"]'>
                               
                                <li class="pt-2">
                                    <a class="dropdown-item" [routerLink]="[item.url]" >{{item.name}}</a>
                                </li>
                              
                            </span>

                        </ul>
                    </li>
                    <li class="nav-item dropdown" *ngIf='menudata && menudata["reporting"]'>
                        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Reporting
                            <!-- {{menudata["reporting"]}} -->
                        </a>
                        <ul class="dropdown-menu" *ngIf='menudata && menudata["reporting"] && menudata["reportingList"].length > 0'>
                            <span *ngFor='let item of menudata["reportingList"]'>
                             <li class="pt-2">
                                    <a class="dropdown-item" [routerLink]="[item.url]" >{{item.name}}</a>
                                </li>
                               
                            </span>
                        </ul>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link disabled">Disabled</a>
                    </li> -->
                </ul>
                <!-- <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form> -->
            </div>
        </div>
    </nav>
    <!-- <div class="body-text">
        <img class="rounded body-img" src="../../../assets/images/quiklogo.png" alt="...">
      </div> -->
    <!-- <div class="row" style="border:1px solid red ;">
        <div style="border:1px solid green ;">
            <img src="../../../assets/images/quiklogo.png" class="rounded float-start" alt="...">
        </div>
    </div> -->
    
    <div class="content">
        <router-outlet></router-outlet>
    </div>
    <div class="footer"></div>
</div>