<div class="container-fluid">
    <div class="dashboard-container">
        <div class="header">
            <div class="row nav-row">
                <div class="col-1 header-icon-container">
                    <a routerLink="/dashboard">
                        <img class="header-row-img" src="../../../assets/images/quiklogo.png" alt="">
                    </a>
                </div>
                <div class="col-3 header-row-logotext">Quik</div>
                <div class="col-4"></div>
                <div class="col-4">
                    <div class="row header-right-section">
                        <div class="col-8 dashboard-welcome-text">Welcome, User</div>
                        <div class="col-4 dashboard-logout-section">
                            <a routerLink="/login"><i class="bi bi-box-arrow-left glyph logout-glyph"></i></a>
                            <div class="dashboard-logout-text"><a routerLink="/">Logout</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row nav-bar">
                <div class="col-2"><a routerLink="profile">Admin</a> </div>
                <div class="col-2"><a routerLink="profile">Upload</a></div>
                <div class="col-2"><a routerLink="profile">Execute Conversion</a></div>
                <div class="col-2">Delievery Report</div>
                <div class="col-2">Conversion Status</div>
                <div class="col-2"></div>
            </div>
        </div>
        <div class="content">
            <router-outlet></router-outlet>
        </div>
        <div class="footer">footer</div>
    </div>
</div>