<div class="container-fluid">
    <div class="dashboard-container">
        <div class="header">
            <div class="row nav-row">
                <div class="col-1 header-icon-container">
                    <img class="header-row-img" src="../../../assets/images/quiklogo.png" alt="">
                </div>
                <div class="col-3 header-row-logotext">Quik</div>
                <div class="col-4"></div>
                <div class="col-4">
                    <div class="row header-right-section">
                        <div class="col-8 dashboard-welcome-text">Welcome, User</div>
                        <div class="col-4 dashboard-logout-section">
                            <i class="bi bi-box-arrow-left glyph"></i>
                            <div class="dashboard-logout-text">Logout</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row nav-bar">
                <div class="col-2">Admin</div>
                <div class="col-2">Upload</div>
                <div class="col-2">Execute Conversion</div>
                <div class="col-2">Delievery Report</div>
                <div class="col-2">Conversion Status</div>
                <div class="col-2"></div>
            </div>
        </div>
        <div class="content">content</div>
        <div class="footer">footer</div>
    </div>
</div>