<p-table [scrollable]="true" scrollHeight="400px" [value]="gridValues.data" styleClass="p-datatable-striped" styleClass="p-datatable-sm" >
    <ng-template pTemplate="caption">
        <div class="row">
            <!-- <div class="col-4">
                <div class="form-floating">
                <p-multiSelect [options]="orderCols" [(ngModel)]="selectedColumns" optionLabel="header"
                    selectedItemsLabel="{0} columns selected" [style]="{minWidth: '200px'}"
                    placeholder="Choose Columns">
                </p-multiSelect>
                </div>
            </div> -->
            <div class="col-2">
                <div class="form-group">                    
                    <div class="form-floating" id="clientLabel">
                        <select   style="width:auto;" class="form-select form-select-lg w-75"
                            aria-label=".form-select-lg example" name="clientId"  required>
                            <option></option> 
                            <option>Order No.</option>   
                            <option>Assigned to</option>  
                            <option>Quik Id</option>   
                            <option>Channels</option> 
                            <option>Destination</option> 
                            <option>Language</option> 
                            <option>Brand</option> 
                            <option>Duration</option> 
                        </select>
                        <label for="clientLabel">Filter</label>

                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="form-group"> 
                    <span class="p-float-label">
                        <input id="float-input" type="text" pInputText 
                        class="p-inputtext-sm text-height"> 
                        <label for="float-input">Filter Value</label>
                    </span>
                </div>
            </div>
        </div> </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 4rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th>No.</th>
            <th pSortableColumn="QuikID">Code <p-sortIcon field="QuikID"></p-sortIcon></th>
            <th pSortableColumn="Language">Language <p-sortIcon field="Language"></p-sortIcon></th>
            <th pSortableColumn="Caption">Caption <p-sortIcon field="Caption"></p-sortIcon></th>
            <th pSortableColumn="Brand">Brand <p-sortIcon field="Brand"></p-sortIcon></th>
            <th pSortableColumn="SDHD">HD/SD <p-sortIcon field="SDHD"></p-sortIcon></th>
            <th pSortableColumn="SpecCode">Specs Code <p-sortIcon field="SpecCode"></p-sortIcon></th>
            <th pSortableColumn="OutPutURL">Link <p-sortIcon field="OutPutURL"></p-sortIcon></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-element let-rowIndex="rowIndex">
        <tr>
            <td>
                <p-tableCheckbox></p-tableCheckbox>
            </td>
            <td>{{rowIndex + 1}}</td>
            <td>{{element.QuikID}}</td>
            <td>{{element.Language}}</td>
            <td>{{element.Caption}}</td>
            <td>{{element.Brand}}</td>
            <td>{{element.SDHD}}</td>
            <td>{{element.SpecCode}}</td>
            <td>{{element.OutPutURL}}</td>
        </tr>
    </ng-template>
</p-table>